html,body{
	margin:0;
	padding:0;
	height:100%;
	border:none
}


#JooseCB {
	font-family: Arial;
}
#JooseCB th {
	text-align: left;
	width: 25%;
	color: #fff;
	background-color: #0d3349;
}

table a:link, table a:visited, table a:active, table a:hover {
	text-decoration: none;
	color: #fff;
}

#JooseCB select {
	min-width: 100%
}

#JooseCB td {
	background-color: #D2E0E6;
}
#JooseCBContainerTable {
	width: 100%;
}

span.alignRight {
	float: right;
}

button.imageButton {
	background: none;
	border: none;
	padding: 0px;
	margin: 0px;
}

button.imageButton:enabled {
	cursor: pointer;
}

button.imageButton:disabled {
	cursor: not-allowed;
}

button.imageButton img{
	border: none;
}
